
[Unit]
Description=SQL to MQTT Graph Designer
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
WorkingDirectory=/opt/sql2mqtt-graph-designer
ExecStart=/opt/sql2mqtt-graph-designer/.venv/bin/python /opt/sql2mqtt-graph-designer/sql2mqtt-graph-designer.py -d
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sql2mqtt-graph-designer
RemainAfterExit=no
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target